<%- include ('partials/header.ejs') %> 
<body>
    <%- include ('partials/navbar.ejs') %> 
    <div class="container">

        <h1 class="mt-3">Perguntas</h1>
        <hr>
        <% perguntas.forEach(pergunta =>{ %>
            <div class="card mt-4">
                <div class="card-body">
                    <h3>
                        <%= pergunta.titulo %> 
                    </h3>
                </div>
                <div class="card-footer">
                    <a href="/pergunta/<%= pergunta.id %>" class="btn btn-primary">Responder</a>
                    <form method="POST" class="btnExcluir" action="/excluirpergunta">
                        <input type="hidden" value="<%= pergunta.id %>" name="pergunta">
                        <button class="btn btn-danger">Excluir</button>
                    </form>
                    
                </div>
            </div>                   
        <%}) %> 
    </div>
</body>
<%- include ('partials/footer.ejs') %> 